<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>WireGuard Interfaces</title>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="../../static/css/main.css"/>
		<script src="/static/js/search.js"></script>
        <script src="/static/js/global.js"></script>
    </head>
    <body onload="getGlobals();">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/views/index.html">WireGuard Connection Manager</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/views/interfaces/index.html">Interfaces</a></li>
                    <li><a href="/views/peers/index.html">Peers</a></li>
                    <li class="active"><a href="/views/system/index.html">System</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-tasks"></span> <span id="page_header_api_url"></span></a></li>
                    <li><a href="/views/login/index.html"><span class="glyphicon glyphicon-log-in"></span> BACK</a></li>
                </ul>
            </div>
        </nav>
		<div class="parent-container" style="height: 100%; padding: 50px;">
            <div class="row" style="margin: 50px;">
                <div class="col-sm-6" style="padding: 10px;">
                    <div class="card">
                        <div class="card-body">
							<table class="table">
                                <tr>
                                    <th style="border: none;"><h3 class="card-title">DNS SERVERS</h3></th>
                                    <th style="border: none;">
                                        <input name="search_input" id="new_dns_server_ip" type="text" placeholder="New DNS-Server" class="inputbox_small"/>
                                        <a onclick="addDNSServer();"><span class="glyphicon glyphicon-plus"></span></a>
                                    </th>
                                </tr>
                            </table>
                            <hr style="background-color:#fff;height:1px;margin-top:5px"/>
                            <table class="table" onload="fillTable('dns_servers', 'dns_server_body');">
                                <thead>
                                    <tr>
                                        <th style="border: none;">#</th>
                                        <th style="border: none;">IP ADRESS</th>
                                        <th style="border: none;">DESCRIPTION</th>
                                    </tr>
                                </thead>
                                <tbody id="dns_server_body">
                                    <!-- TO BE FILLED BY FUNCTION -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>

            // post new dns_server to API
            async function addDNSServer() {
                
                // get data
                var dns_server_ip = document.getElementById("new_dns_server_ip").value;
                document.getElementById("new_dns_server_ip").value = "";
                
                // make API request
                data = { ip: dns_server_ip}; 
                const dns_response = await post_with_fetch("dns_servers", data);

                fillTable('dns_servers', 'dns_server_body');
            }

            // load the table once and be done with it
            document.addEventListener('readystatechange', event => {
                if (event.target.readyState === "complete") {
                    fillTable('dns_servers', 'dns_server_body');
                }
            });

            // ask api every second if there are any new updates on the peer
            //setInterval(getPeers, 1000);
        </script>
    </body>
</html>
