<!-- This is just temporary as a mockup navigation layer -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Overview</title>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="../static/css/main.css"/>
        <script src="../static/js/global.js"></script>
    </head>
    <body onload="getGlobals();">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="../views/index.html">WireGuard Connection Manager</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="../views/interfaces/index.html">Interfaces</a></li>
                    <li><a href="../views/peers/index.html">Peers</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-tasks"></span> <span id="page_header_api_url"></span></a></li>
                    <li><a href="../views/login/index.html"><span class="glyphicon glyphicon-log-in"></span> BACK</a></li>
                </ul>
            </div>
        </nav>
        <div class="parent-container" style="height: 100%; padding: 50px;">
            <div class="row" style="margin: 50px;">
                <div class="col-sm-6" style="padding: 10px;">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Interfaces</h3>
                            <hr style="background-color:#fff;height:1px;margin-top:5px"/>
                            <table class="table">
                                <tr>
                                    <td style="border: none;">Interfaces Configured:</td>
                                    <td style="border: none;">3</td>
                                </tr>
                            </table>
                            <a href="interfaces/index.html" class="btn-normal">View Interfaces</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" style="padding: 10px;">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Peers</h3>
                            <hr style="background-color:#fff;height:1px;margin-top:5px;"/>
                            <table class="table">
                                <tr>
                                    <td style="border: none;">Total Peers Configured:</td>
                                    <td style="border: none;">9</td>
                                </tr>
                            </table>
                            <a href="peers/index.html" class="btn-normal">View Peers</a>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
