* {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica", sans-serif;
}

/* Header Title */
body div.header {
    padding: 40px;
    text-align: center;
    background-color: #e4e4e4;
    margin: 20px;
    font-size: 20px;
    width: 98%;
}

body div.header .wireguard-logo {
    height: 150px;
}

body div.header h1 {
    text-decoration: underline;
}

/* Main Page Columns */
body div.column {
    padding: 40px;
    padding-left: 70px;
    padding-right: 70px;
    margin: 20px;
    margin-right: 30px;
    margin-bottom: 70px;
    font-size: 20px;
    float: right;
    width: 45%;
}

body div.column.about-wireguard-manager {
    background-color: #e4e4e4;
    height: 475px;
    float: left;
}
body div.column.about-wireguard-manager h1 {
    text-decoration: underline;
}
body div.column .api-information hr {
    color: black;
    border: 1px solid black;
    border-radius: 25%;
}
body .api-information span.label {
    display: block;
    font-size: 10px;
    color: #88171a;
}
body .api-information span.value {
    display: block;
    font-size: 10px;
}


/* landing page selection */
body div.navigation-section {
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;
    margin-right: 30px;
    margin-bottom: 70px;
    font-size: 20px;
}
body a.navigation-card {
    float: left;
    padding: 10px;
    margin: 10px;
    background-color: #e4e4e4;
    width: 150px;
    height: 150px;
    color: black;
    text-align: center;
    text-decoration: none;
}
body a.navigation-card:hover {
    border: 2px solid black;
    border-radius: 2%;
    background-color: #e0e0e0;
}
body a.navigation-card span.navigation-card-text {
    text-align: center;
    margin-top: auto;
}

/* System page styles */
body div.column.system-page-content {
    background-color: #e4e4e4;
    width: 98%;
    float: left;
    padding: 40px;
}
body div.column.system-page-content h3 {
    text-align: center;
}
body div.column.system-page-content div.controls {
    text-align: center;
    display: block;
    float: right;
    padding: 5px;
}
body div.column.system-page-content div.controls button {
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 10px;
}
body div.column.system-page-content div.controls .add {
    background-color: darkgreen;
}
body div.column.system-page-content div.controls .refresh {
    background-color: grey;
}
body div.column.system-page-content div.controls .cancel {
    background-color: red;
}
body div.column.system-page-content div.controls .search-input {
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 10px;
}
body div.column.system-page-content div.search_display {
    text-align: center;
    display: block;
    margin-top: 25px;
}
body div.column.system-page-content div.search_display div.search_result_count {
    text-decoration: wavy;
}



/* table styles */

/* Table for adding things */
body table.add-page-table {
    margin: auto;
    text-align: center;
    border-collapse: collapse;
}
body table.add-page-table tbody {
    font-size: 15px;
    border-top: 1px solid #656565;
}
body table.add-page-table tbody tr {
    border-bottom: 1px solid #656565;
    border-top: 1px solid #656565;
    background-color: #d1cfcf;
}
body table.add-page-table td {
    padding: 10px;
    margin-bottom: 1px;
}

/* Default Table for displaying things */
body table.system-page-table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
body table.system-page-table tbody {
    font-size: 15px;
    border-top: 1px solid #656565;
}
body table.system-page-table tbody tr {
    border-bottom: 1px solid #656565;
    background-color: #d1cfcf;
}
body table.system-page-table tbody tr:hover {
    background-color: #dbdbdb;
}
body table.system-page-table td {
    padding: 10px;
    margin-bottom: 1px;
}
body table.system-page-table td.no-padding {
    margin-bottom: 1px;
    text-align: right;
    width: 50px;
}
body table.system-page-table td.no-padding a {
    color: #333;
}