<!-- This is just temporary as a mockup navigation layer -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>WireGuard Peers</title>

        <link rel="shortcut icon" type="image/jpg" href="/static/img/favicon.ico"/>
        <link rel="stylesheet" href="/static/css/main.css"/>
        <link rel="stylesheet" href="/static/css/sidenav.css"/>

        <script src="/static/js/global.js"></script>
        <script src="/static/js/structure.js"></script>
		<script src="/static/js/table.js"></script>
        <script src="/static/js/apiClient.js"></script>
    </head>
    <body onload="createNavBody('nav_link_peers'); getGlobals();">
        <nav class="sidenav" id="main_page_navigation_bar">
            <div id="nav_links"></div>
        </nav>
        <div>
            <div>
                <table class="single_page_table">
                    <tr>
                        <td><h3 class="card-title">PEERS</h3></td>
                        <td><input class="general_text_input" name="search_input" id="search_input" type="text" placeholder="Search..." onkeyup="searchTable()"/></td></td>
                        <td><p id="search_result_count" style="color: #464640" class="text-success text-center">No Search</p></td>
                    </tr>
                </table>
            </div>
            <div>
              <!-- <hr style="background-color:#fff;height:1px;margin-top:5px"/> -->
                <table class="single_page_table border" id="table_to_search" onload="buildPeerTable();">
                    <thead>
                        <tr>
                            <th>NAME</th>
                            <th>DESCRIPTION</th>
                            <th>INTERFACE</th>
                        </tr>
                    </thead>
                    <tbody id="peer_table_body">
                        <!-- TO BE FILLED BY FUNCTION -->
                    </tbody>
                </table>
            </div>
        </div>
        <script>
            var dropdown = document.getElementsByClassName("dropdown-btn");
            console.log(dropdown);

            for (i = 0; i < dropdown.length; i++) {
                console.log(i);
                dropdown[i].addEventListener("click", function() {

                    dropdown[i].classList.toggle("active");
                    var dropdownContent = dropdown[i].nextElementSibling;
                    console.log(dropdownContent);

                    if (dropdownContent.style.display === "block") {
                        dropdownContent.style.display = "none";
                    } else {
                        dropdownContent.style.display = "block";
                    }
                });
            }
            async function buildPeerTable() {

                // get data from API
                const iface_data = await get_interface_list();
                const peer_data = await get_peer_list();

                // get table and reset contents
                var table = document.getElementById("peer_table_body");
                table.innerHTML = "";
                var rows = await tableRowsFromAPI(peer_data, ['name', 'description', 'interface_id']);

                // change the contents of a specific row
                for (i = 0; i < rows.length; i++) {
                    var children = rows[i].children;
                    for (j = 0; j < children.length; j++) {
                        if (children[j].id == 'interface_id:' + i) {
                            var old_content = children[j].innerHTML;
                            children[j].innerHTML = "<a href=\"/views/interfaces/index.html?iface_id=" + old_content + "\"><span>wg" + old_content + "</span></a>";

                            var edit_link = document.createElement('td');
                            edit_link.style.border = "none";
                            edit_link.innerHTML = "<a href=\"/views/peers/edit.html?peer_id=" + rows[i].dataset.apiid + "\"><span class=\"glyphicon glyphicon-pencil\"></span></a>";
                            rows[i].appendChild(edit_link);
                        } 
                    }
                    table.appendChild(rows[i]);
                }
            }

            // load the table
            document.addEventListener('readystatechange', event => {
                if (event.target.readyState === "complete") {
                    buildPeerTable();
                }
            });
        </script>
    </body>
</html>
