<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>WireGuard Interfaces</title>
        <link rel="stylesheet" href="/static/css/main.css"/>

        <script src="/static/js/global.js"></script>
        <script src="/static/js/structure.js"></script>
		<script src="/static/js/table.js"></script>
        <script src="/static/js/apiClient.js"></script>
    </head>
    <body onload="createNavBody('nav_link_system'); getGlobals();">
        <nav class="sidenav" id="main_page_navigation_bar">
        </nav>
		<div class="parent-container" style="height: 100%; padding: 50px;">
            <div class="row" style="margin: 50px;">
                <div class="col-sm-6" style="padding: 10px;">
                    <div class="card">
                        <div class="card-body">
							<table class="table">
                                <tr>
                                    <th style="border: none;"><h3 class="card-title">DNS SERVERS</h3></th>
                                    <th style="border: none;">
                                        <input class="general_text_input" name="search_input" id="new_dns_server_ip" type="text" placeholder="New DNS-Server"/>
                                        <a onclick="addDNSServer();"><span class="glyphicon glyphicon-plus"></span></a>
                                    </th>
                                </tr>
                            </table>
                            <hr style="background-color:#fff;height:1px;margin-top:5px"/>
                            <table class="table" onload="buildDNSServerTable();">
                                <thead>
                                    <tr>
                                        <th style="border: none;">#</th>
                                        <th style="border: none;">IP ADRESS</th>
                                        <th style="border: none;">DESCRIPTION</th>
                                    </tr>
                                </thead>
                                <tbody id="dns_server_body">
                                    <!-- TO BE FILLED BY FUNCTION -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            
            // build the dns-server table
            async function buildDNSServerTable() {
                var table = document.getElementById('dns_server_body');
                table.innerHTML = "";
                var rows = await tableRowsFromAPI('dns_servers');

                for (i = 0; i < rows.length; i++) {
                    table.appendChild(rows[i]);
                }
            }

            // post new dns_server to API
            async function addDNSServer() {
                
                // get data
                var dns_server_ip = document.getElementById("new_dns_server_ip").value;
                document.getElementById("new_dns_server_ip").value = "";
                
                // make API request
                data = { ip: dns_server_ip}; 
                const dns_response = await post_with_fetch("dns_servers", data);

                buildDNSServerTable();
            }

            // load the table once and be done with it
            document.addEventListener('readystatechange', event => {
                if (event.target.readyState === "complete") {
                    buildDNSServerTable();
                }
            });
        </script>
    </body>
</html>
