<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
    	<meta charset="utf-8"/>
		<title>Connect to API</title>
        <link rel="shortcut icon" type="image/jpg" href="/static/img/favicon.ico"/>
		<link rel="stylesheet" href="/static/css/main.css"/>
  	</head>
	<body>
        <div class="login">
            <h1>Connect</h1>
            <form method="get" action="/views/index.html">
                <input class="general_text_input" type="text" id="api_url_input" placeholder="http://your.api.server" required="required" />
                <input class="general_text_input" type="password" id="api_token_input" placeholder="SuperSecretAPIToken :O" required="required" />
                <button type="submit" href="/views/index.html" id="connect_button" class="btn btn-primary btn-block btn-large">Connect</button>
            </form>
        </div>
        <script type="text/javascript">
			window.onload = function() {
				var a = document.getElementById("connect_button");

				a.onclick = function() {
					var api_url = document.getElementById('api_url_input').value;
					var api_token = document.getElementById('api_token_input').value;
					
					localStorage.setItem('api_url', api_url);
					localStorage.setItem('api_token', api_token);
				}
			}
		</script>
    </body>
</html>