<!-- This is just temporary as a mockup navigation layer -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Overview</title>
        <link rel="shortcut icon" type="image/jpg" href="/static/img/favicon.ico"/>
        <link rel="stylesheet" href="/static/css/main.css"/>
        <link rel="stylesheet" href="/static/css/sidenav.css"/>
        <script src="/static/js/global.js"></script>
        <script src="/static/js/structure.js"></script>
    </head>
    <body onload="createNavBody(); getGlobals();">
        <nav class="sidenav" id="main_page_navigation_bar">
        </nav>
        
        <div class="page-content">
        <div class="parent-container" style="height: 100%; padding: 50px;">
            <div class="row" style="margin: 50px;">
                <div class="col-sm-6" style="padding: 10px;">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Interfaces</h3>
                            <hr style="background-color:#fff;height:1px;margin-top:5px"/>
                            <table class="table">
                                <tr>
                                    <td style="border: none;">Interfaces Configured:</td>
                                    <td style="border: none;">3</td>
                                </tr>
                            </table>
                            <a href="/views/interfaces/index.html" class="btn btn-primary">View Interfaces</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" style="padding: 10px;">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Peers</h3>
                            <hr style="background-color:#fff;height:1px;margin-top:5px;"/>
                            <table class="table">
                                <tr>
                                    <td style="border: none;">Total Peers Configured:</td>
                                    <td style="border: none;">9</td>
                                </tr>
                            </table>
                            <a href="/views/peers/index.html" class="btn btn-primary">View Peers</a>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>
